@model PagedList.IPagedList<S2Games.Web.Models.UsuarioViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="col-md-offset-1">
                <a href='@Url.Action("Create", "Acesso")' class="btn btn-primary" style="margin-top:10px;">
                    Novo Usuário
                </a>
            </div>

            <hr />
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th width="15%">
                            EMAIL
                        </th>
                        <th width="15%">
                            SENHA
                        </th>
                        <th width="10%">
                            ATIVO
                        </th>
                        <th width="15%">
                            NOME
                        </th>
                        <th width="20%">
                            Data Criacao
                        </th>
                        <th width="10%">AÇÕES</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Senha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAtivo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data_Criacao)
                            </td>
                            <td class="actions form-inline">
                                <a href='@Url.Action("Details", "Acesso", new { id = item.Id_Usuario })' class="btn btn-primary" title="Detalhes">
                                    <span class="glyphicon glyphicon glyphicon-search"></span>
                                </a>
                                <a href='@Url.Action("Edit", "Acesso", new { id = item.Id_Usuario })' class="btn btn-primary" title="Alterar">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href='@Url.Action("Delete", "Acesso", new { id = item.Id_Usuario })' class="btn btn-primary" title="Excluir">
                                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                }
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-7 col-xs-offset-5">
                    <ul class="pagination hidden-xs">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Acesso", new { pagina = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
