@model S2Games.Web.Models.EmprestimoViewModel

@{
    ViewBag.Title = "Detalhamento Emprestimo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="form-horizontal">
            <div class="col-md-offset-1">
                <h4>Detalhamento Emprestimo</h4>
            </div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DataEmprestimo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataEmprestimo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Jogo.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Jogo.Descricao)
                </dd>

            </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <a href='@Url.Action("Edit", "Emprestimo", new { id = Model.IdEmprestimo })' class="btn btn-default">
                        Alterar
                    </a>
                </div>
                <div class="col-md-1">
                    <a href='@Url.Action("Index", "Emprestimo")' class="btn btn-primary">
                        Voltar
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>